# dotenv environment variables file
.env
.env.*

# executable large file ffmpeg
ffmpeg.exe

# Byte-compiled / optimized / compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.VENV/

.codegpt